*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --red-milfshakes: rgb(239,20,33);
    --rojo-oscuro: rgb(183,5,5);
    --white-shake: #f3f3f3;
}

body{
    font-family: "Geologica", serif;
    overflow: hidden;
}

main{
    display: grid;
    grid-template-columns: 3fr 5fr 1.8fr;
    grid-template-rows: 30px auto auto 120px;
    height: 100vh;
}

.section-advise{
    background: var(--rojo-oscuro);
    grid-area: 1/1/2/4;
    color: white;
    font-weight: 800;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.section-shop{
    background: var(--red-milfshakes);
    grid-area: 2/1/5/2;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 100%;
}

.section-shop::-webkit-scrollbar {
    display: none; 
}

.div-levels{
    min-width: 300px;
    width: 80%;
    margin: 13px 30px;
    background-color: white; 
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-flow: column;
}

.level{
    height: 80px;
    width: 80px;
    position: absolute;
    left: 87%;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 18px;
    background: white;
    border-radius: 20px;
    border: 2px solid black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Geologica", sans-serif;
    font-weight: 700;
}

.drop_img{
    width: auto;
    height: 70%;
    background-color: aqua;
    margin: 15px 10px 10px 10px;
    overflow: hidden;
    border-radius: 16px;
    outline: 2px solid rgb(54, 54, 54);
}

.drop_img img{
    object-fit: cover;
    width: 100%;
}

.drop_img:hover img{
    transform: scale(1.05);
}

.drop_names{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 18px;
    font-family: "Geologica", sans-serif;
    font-weight: 700;
}

.section-milfo{
    background-color: rgb(109, 175, 230);
    grid-area: 2/2/5/3;
    display: flex;
    position: relative;
    overflow: hidden;
}

/* imagenes milfo */
.milfo-img{
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
}

.milfo-img-1{
    z-index: 60;
}

.milfo-img-2{
    z-index: 50;
    transition: transform .3s ease;
}

.milfo-img-3{
    z-index: 40;
}

/* fin imagenes milfo */


.milfo-layer{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    height: 100%;
}

.section-milfo__clicker{
    display: flex;
    justify-content: center;
    align-items: center;
}

#milfo-hit-box{
    height: 85%;
    margin-top: 60px;
    width: 60%;
}
.section-milfo:hover .milfo-img-2{
    transform: scale(1.03);
}

.section-points{
    grid-area: 4/2/5/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.points-counter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter{
    width: 80%;
    height: 90%;
    background-color: var(--red-milfshakes);
    border: 3px solid var(--white-shake);
    outline: 3px solid var(--red-milfshakes);
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: white;
    justify-content: center;
    align-items: center;
}

.section-level-up{
    background: var(--red-milfshakes);
    grid-area: 2/3/5/4;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buy-drop{
    width: 95%;
    height: auto;
    background-color: var(--white-shake);
    border-bottom: 3px solid var(--rojo-oscuro);
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 4px;
    justify-content: space-evenly;
    margin-top: 7px;
}

.shop-item{
    height: 70px;
    width: 70px;
    border: none;
}

.img-shop{
    height: 100%; 
    width: 100%;
}