*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --red-milfshakes: rgb(239,20,33);
    --rojo-oscuro: rgb(183,5,5);
    --white-shake: #f3f3f3;
}

body{
    font-family: "Geologica", serif;
    overflow: hidden;
}

main{
    display: grid;
    grid-template-columns: 2.4fr 5fr 2fr;
    grid-template-rows: 30px auto auto 120px;
    height: 100vh;
}

.section-advise{
    background: var(--rojo-oscuro);
    grid-area: 1/1/2/4;
    color: white;
    font-weight: 800;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.section-shop{
    background: var(--red-milfshakes);
    grid-area: 2/1/5/2;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 100%;
}

.section-shop::-webkit-scrollbar {
    display: none; 
}

.div-levels{
    min-width: 300px;
    width: 90%;
    margin: 8px 10px;
    background-color: white;
    position: relative;
    display: flex;
    flex-flow: column;
    border: none;
    border-bottom: 5px solid #FFB9B9;
    transition: background-color .2s ease, border .2s ease, color .2s ease;
}

.drop-blocked{
    z-index: 5; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(70, 11, 11, 0.795); 
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Geologica", sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.drop-blocked img{
    height: 50px;
}

.dropBought{
    display: none;
}

.level{
    height: 80px;
    width: 80px;
    position: absolute;
    left: 82%;
    top: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    background: var(--red-milfshakes);
    border-top: 3px solid white;
    border-radius: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Geologica", sans-serif;
    font-weight: 700;
    clip-path: polygon(20% 0%, 80% 0%, 80% 100%, 50% 80%, 20% 100%);
    transition: height .3s ease;
    z-index: 10;
}

.drop_img{
    width: auto;
    height: 70%;
    background-color: aqua;
    margin: 15px 10px 5px 10px;
    overflow: hidden;
}

.drop_img img{
    object-fit: cover;
    width: 100%;
}

.div-levels:hover{
    background-color: #d8d8d8;
    border-bottom: 5px solid #b3b3b3;
    color: red;
}

.div-levels:hover .level{
    height: 100px;
}

.drop_names{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: red;
    font-size: 18px;
    font-family: "Geologica", sans-serif;
    font-weight: 700;
}

.section-milfo{
    background-color: rgb(109, 175, 230);
    grid-area: 2/2/5/3;
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

/* imagenes milfo */
#divError{
    position: absolute;
    z-index: 110;
    color: white;
    background-color: var(--rojo-oscuro);
    display: none;
    height: fit-content;
    top: 80%;
    padding: 10px;
}

.milfo-img{
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
}

.milfo-img-1{
    z-index: 60;
    animation: subirBajar1 4s infinite ease-in-out
}

.milfo-img-2{
    z-index: 50;
    transition: transform .3s ease;
    animation: subirBajar2 4s infinite ease-in-out
}

.milfo-img-3{
    z-index: 40;
    animation: subirBajar3 4s infinite ease-in-out
}

.milfo-img-4{
    animation: subirBajar4 4s infinite ease-in-out
}

.milfo-img-5{
    animation: subirBajar5 4s infinite ease-in-out
}

.milfo-img-6{
    animation: subirBajar6 4s infinite ease-in-out
}

@keyframes subirBajar1 {
      0%   { top: 0; }
      50%  { top: 4px; }
      100% { top: 0; }
    }

@keyframes subirBajar2 {
      0%   { top: 7px; }
      50%  { top: 0px; }
      100% { top: 7px; }
    }

@keyframes subirBajar3 {
      0%   { top: 0; }
      50%  { top: 10px; }
      100% { top: 0; }
    }

@keyframes subirBajar4 {
      0%   { top: 0; }
      50%  { top: -10px; }
      100% { top: 0; }
    }

@keyframes subirBajar5 {
      0%   { top: -10px; }
      50%  { top: 0; }
      100% { top: -10px; }
    }

@keyframes subirBajar6 {
      0%   { top: 0; }
      50%  { top: 10px; }
      100% { top: 0; }
    }
    

/* fin imagenes milfo */


.milfo-layer{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    height: 100%;
}

.section-milfo__clicker{
    display: flex;
    justify-content: center;
    align-items: center;
}

#milfo-hit-box{
    height: 85%;
    margin-top: 60px;
    width: 60%;
}

.section-points{
    grid-area: 4/2/5/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.points-counter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter{
    width: 100%;
    height: 80%;
    background-color: var(--rojo-oscuro);
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: white;
    justify-content: center;
    align-items: center;
    align-self: end;
}

.section-level-up{
    background: var(--red-milfshakes);
    grid-area: 2/3/5/4;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buy-drop{
    width: 95%;
    height: auto;
    background-color: var(--white-shake);
    border-bottom: 3px solid var(--rojo-oscuro);
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 4px;
    justify-content: space-evenly;
    margin-top: 7px;
}

.shop-item{
    height: 70px;
    width: 70px;
    border: none;
}

.img-shop{
    height: 100%; 
    width: 100%;
}